*{padding:0;margin:0;list-style:none;text-decoration: none;}
html, body {
	background-color: #e5dfd3;
	font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
a{color: #333333;text-decoration: none;}
img{border:none;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
input,textarea{outline:none;}
.hide{display:none;}
.container{width:1100px;margin:0 auto;}
.container-wrap{width:960px;margin:0 auto;box-shadow: 0px 5px 5px black;}
.sub-menu-wrap .container-wrap,.header .container-wrap{box-shadow:none;}
.header{border-bottom:3px solid #a90504;background-color: #f6f5f3;}
.logo{padding:9px 0;}
.header-link{text-align:right;}
.header-link a{color:#8e7d5f;line-height:25px;vertical-align: bottom;}
.header-link span{display:inline-block;background:url(../images/line-sep.gif) top center no-repeat;padding:0 8px;width:1px;height:25px;}
.header-nav{height:20px;overflow:hidden;padding-top:50px;padding-bottom:20px;}
.header-nav li{float:left;padding:0 4px;}
.header-nav li a{display:block;padding:0 15px;line-height:20px;}
.header-nav li.active a,.header-nav li.active:hover a{color:#fff;background-color:#a90504;}
.header-nav li:hover a{color:#a90504;}
.sub-menu{overflow:hidden;}
.header-nav .sub-menu{display:none;}
.sub-menu-wrap{height:36px;background-color:#c6b598;}
.sub-menu-wrap .sub-menu li{float:left;padding:0 10px;margin:4px 5px;_display:inline;}
.sub-menu-wrap .sub-menu li a{line-height:28px;color:#fff;}
.sub-menu-wrap .sub-menu li:hover,.sub-menu-wrap .sub-menu li.on{background-color:#8e7d5f;}
.scrollLeft{width:1100px;height:454px;overflow:hidden;position:relative;}
.scrollLeft .bd{position:relative;height:100%;z-index:0;}
.scrollLeft .bd li{zoom: 1;vertical-align: middle;float:left;}
.scrollLeft .hd{height: 15px;overflow: hidden;position: absolute;right: 5px;bottom: 5px;z-index: 1;}
.scrollLeft .hd ul{overflow: hidden;zoom: 1;float: left;}
.scrollLeft .hd ul li{float:left;margin-right:8px;width:10px;height:10px;text-indent: -999px;overflow:hidden;cursor:pointer;background:url(../images/scroll_icon.png) no-repeat;}
.scrollLeft .hd ul li.on{background:url(../images/scroll_icon_on.png) no-repeat;}
.home-pic-scroll{background:#fff url(../images/banner_bg.jpg) top center no-repeat;}
.home-wrap{width:1070px;padding:0 15px;background-color:#fff;overflow:hidden;}
.home-item{float:left;}
.home-item li{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:285px;border-bottom:1px dotted #070002;}
.home-item li a{color:#070002;font-size:15px;line-height:35px;}
.home-item .small-title i{font-size:18px;font-weight:600;line-height:40px;background:url(../images/home_small_title_bg.jpg) center left no-repeat;text-indent:10px;display:block;}
.footer{padding-top: 30px;height:152px;overflow:hidden;background:#fff url(../images/footer_bg.jpg) bottom center no-repeat;}
.footer-wrap{width:960px;overflow:hidden;color:#7d7d7d;margin:0 auto;}
.footer-wrap p,.footer-wrap p a{font-size:12px;text-align:center;color:#7d7d7d;line-height:25px;}
.footer-wrap ul{overflow:hidden;}
.footer-wrap ul li{float:left;padding:0 22px;height:29px;}
.footer-wrap ul li a{color:#7d7d7d;line-height:29px;cursor: default;}
.footer-wrap ul li span{display:inline-block;width:29px;height:29px;vertical-align: bottom;margin-right:15px;}
.footer-wrap ul li.f1 span{
transition: background 1s,-webkit-transform 2s;
-moz-transition: background 1s,-webkit-transform 2s;
-webkit-transition: background 1s,-webkit-transform 2s;
-o-transition: background 1s,-webkit-transform 2s;
}

.footer-wrap ul li.f2 span{background:url(../images/icon/weibo.png) no-repeat;}
.footer-wrap ul li.f3 span{background:url(../images/icon/phone.png) no-repeat;}
.footer-wrap ul li.f4 span{background:url(../images/icon/mail.png) no-repeat;}
.page-wrap{background-color:#fff;overflow:hidden;}
.bread-crumbs{padding:15px 0;}
.bread-crumbs,.bread-crumbs a{color:#8e7d5f;font-size:14px;}
.page-wrap .item-box{width:910px;margin:0 25px;}
.page-wrap .item-sep{width:1000%;height:1px;background:url(../snacks_files/item_line.jpg) no-repeat;margin:5px 0;}
.page-wrap .item-sep-light{background:url(../images/itme_light_line.png) no-repeat;}
.page-wrap h3{color:#815302;font-size:20px;}
.item-box dl{width:910px;overflow:hidden;padding:20px 0;}
.item-box dl dt{float:left;width:150px;height:230px;}
.item-box dl dd{float:left;width:580px;height:230px;position:relative;zoom:1;margin-left: 40px;}
.item-box dl.fixdl{color:#434343;}
.item-box dl.fixdl dt{width:105px;height:30px;text-align:right;line-height:30px;margin-bottom:10px;display:inline;}
.item-box dl.fixdl dd{width:800px;height:30px;line-height:30px;color:#434343;margin-bottom:10px;}
.item-box dl.fixdl dd input{margin-right:10px;outline:none;border: 1px solid #b2b2b2;width:280px;height:26px;line-height:20px;font-size:14px;color:#c6b598;padding:1px 0;}
.item-box dl.fixdl dd span{color:red;}
.item-box dl.fixdl dd i{display:none;}
.item-box dl.fixdl dd.error span,.item-box dl.fixdl dd.correct span{display:none;}
.item-box dl.fixdl dd.error i.error{display:inline-block;}
.item-box dl.fixdl dd.correct i.correct{display:inline-block;}
.item-box dl.fixdl dd .long{width:650px;}
.item-box p{color:#8e7d5f;line-height: 25px;}
.item-box p.title{color:#a90504;font-weight:bold;}
.item-box .black{font-family: "新宋体";color: #666666;font-size: 16px;line-height:24px;font-size:14px;text-indent:30px;}
.item-box p span{font-family: "新宋体";color: #666666;font-size: 16px;}
.item-box .green{color:#86b30c;}
.item-box .red{color:#fe4445;}
.item-box .no-ident{text-indent:0;}
/****.item-box ul{width:910px;overflow:hidden;}
.item-box ul li{float:left;padding-left:8px;}*****/
.item-box ul li img{display:block;border: 1px solid #8e7d5f;}
.item-box table td{width:33%;text-align:left;}
.item-box strong{font-size:14px;line-height:40px;padding-top:20px;}
.item-box .product-detail{position:absolute;bottom:0;right:80px;}
.item-box .product-buy{position:absolute;bottom:0;right:0;}
.dialog{box-shadow: 0px 0px 6px black;width: 540px;height: 416px;border: 1px solid #d8d8d9;overflow: hidden;position: absolute;z-index: 10001;display: none;background-color: #f0f0f0;}
.dialog_close_btn{height:30px;padding:4px;}
.dialog_close_btn  .close_owndialog_btn{display:block;width:22px;height:22px;cursor:pointer;background:url(../images/close_btn.png) no-repeat;}
.dialog .dialog_title{color:#ab7101;text-align:center;font-size: 25px;line-height: 30px;font-weight: bold;}
.dialog_main{padding:20px;text-align:center;}
.dialog .dialog_main label {
display: block;
overflow: hidden;
height: 33px;
margin: 20px 0 0;
}
.dialog .dialog_main label span {
color: #515151;
float: left;
width: 100px;
line-height: 23px;
font-size: 16px;
height: 30px;
text-align: right;
padding: 0 10px 0 0;
}
.dialog .dialog_main input[type="text"], .dialog .dialog_main input[type="password"], .dialog .dialog_main select {
font-size: 16px;
float: left;
width: 210px;
height: 28px;
outline: medium;
border: #bbc1d1 1px solid;
}
.dialog .dialog_main input.error{border-color:#fe4445;}
.home-item-pic{float:left;width:221px;height:161px;overflow:hidden;}
.home-item-pic img{display:block;width:221px;height:auto;}
.paging{font-size:14px;padding:10px 5px;text-align:right;}
.paging a{display:inline-block;width:23px;height:23px;margin-right:5px;background:url(../images/pageno.png) no-repeat;text-align:center;color:#7d7d7d;}
.paging a.on,.paging a:hover{background:url(../images/pageno_on.png) no-repeat;color:#a90504;}
.r1{display:block;width:148px;height:126px;background:url(../images/home/home_pic2.jpg) no-repeat;cursor:pointer;}
.r1:hover{background:url(../images/home/home_pic2_hover.jpg) no-repeat;}
.r2{display:block;width:148px;height:126px;background:url(../images/home/home_pic3.jpg) no-repeat;cursor:pointer;}
.r2:hover{background:url(../images/home/home_pic3_hover.jpg) no-repeat;}
.succes_message{position:absolute;width:210px;height:74px;background:url(../images/success_message.png) no-repeat;display:none;z-index:999;}
.awards-wrap{width:664px;margin:0 auto;overflow:hidden;}
.awards-title{text-align:center;}
.awards-title a{margin:0 auto;display:block;width:91px;height:33px;background-color:#b4b4b4;color:#fff;font-weight:600;font-size:21px;line-height:33px;text-align:center;}
.left-awards{float:left;width:329px;border-right:6px solid #b4b4b4;position:relative;}
.right-awards{margin-left:329px;width:329px;border-left:6px solid #b4b4b4;position:relative;}
.awards-item{padding:9px;border:1px solid #939393;width:292px;margin-top:26px;position:relative;z-index:1;}
.awards-pic{width:292px;height:auto;}
.awards-pic img{width:292px;}
.awards-desc .black{font-size:14px;line-height:24px;height:48px;padding:5px 0;text-indent:0;}
.awards-sharp{width:28px;height:18px;display:inline-block;position:absolute;z-index:2;background:url(../images/awards/left_awards_sharp.png) no-repeat;right:-28px;top:40px;}
.right-awards .awards-sharp{background-image:url(../images/awards/right_awards_sharp.png);left:-28px;right:auto;top:50%;}
.right-awards .awards-item{float:right;}
.awards-nav{position:fixed;margin-left:840px;overflow:hidden;width:50px;top:200px;z-index:3;display:none;}
.awards-nav ul{width:50px;}
.awards-nav ul li{float:left;padding:2px 0;}
.awards-nav ul li a{display:block;width:40px;line-height:30px;font-size:16px;color:#939393;float:left;}
.awards-nav ul li i{display:inline-block;width:8px;height:30px;float:right;background-color:#939393;}
.awards-nav ul li.active a{color:#a90504;}
.awards-nav ul li.active i{background-color:#a90504;}
#footer{background-color:#fff;}
i.error{display:inline-block;width:25px;height:25px;background:url(../images/icon/error.png) no-repeat;vertical-align: top;}
i.correct{display:inline-block;width:25px;height:25px;background:url(../images/icon/correct.png) no-repeat;vertical-align: top;}
.half{width:50%;margin:0 auto;}
.order-top{padding-top:10px;}
.order-top table{border-top:3px solid #815302;border-left:1px solid #e5dfd3;border-right:1px solid #e5dfd3;border-bottom:1px solid #e5dfd3;line-height:35px;width:100%;}
.order-top label{color:#815320;}
.order-top table td{padding-left:15px;}
.order-product-cat-title{overflow:hidden;cursor:pointer;background-color:#f6f5f3;padding-left:15px;height: 33px;line-height: 33px;border-left:1px solid #e5dfd3;border-right:1px solid #e5dfd3;border-bottom:1px solid #e5dfd3;}
.order-product-cat-title:hover{background-image:url(../images/cat_title_hover.png);background-repeat:repeat-x;}
.order-product-cat-title i{width:6px;height:4px;display:inline-block;background:url(../images/sharp.png) no-repeat;vertical-align: middle;-webkit-transition: .3s ease-in;
-moz-transition: .3s ease-in;
-o-transition: .3s ease-in;
transition: .3s ease-in;}
.order-product-cat-title i.down{-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
-ms-transform: rotate(0);}
ul.order-product-wrap li{padding:0;float:none;}
ul.order-product{width:auto;overflow:hidden;border-left:1px solid #e5dfd3;border-right:1px solid #e5dfd3;border-bottom:1px solid #e5dfd3;}
ul.order-product li{float:left;line-height:33px;}
ul.order-product li.order-product-f1{width:31%;padding-left:30px;}
ul.order-product li.order-product-f2{width:13%;}
ul.order-product li.order-product-f3{width:13%;}
ul.order-product li.order-product-f4{width:13%;}
ul.order-product li.order-product-f5{width:13%;}
ul.order-product li.order-product-f6{width:13%;}
.myCheckbox{display:inline-block;}
.myCheckbox input[type="checkbox"]{display:none;}
.myCheckbox em{cursor:pointer;width:12px;height:12px;display:inline-block;background:url(../images/mycheck.png) no-repeat;}
.myCheckbox.click em{background-position:0 -12px;}
.myCheckbox label{padding-left:8px;}
i.correct{display:inline-block;
width:25px;
height:25px;
background:url(../images/icon/correct.png) no-repeat;
vertical-align: middle;}
i.warnning{display:inline-block;
width:32px;
height:32px;
background:url(../images/warnning.png) no-repeat;
vertical-align: middle;}
.unverifd label{color:#a0a0a0;}
.count-wrap{margin-top: 4px;width:68px;overflow:hidden;height:25px;border-left:1px solid #e5dfd3;border-right:1px solid #e5dfd3;display:block;}
.count-wrap i,.count-wrap input{float:left;height:23px;line-height:23px;}
.count-wrap i{display:block;width:13px;border-top:1px solid #e5dfd3;border-bottom:1px solid #e5dfd3;cursor:pointer;font-style: normal;text-align: center;background-color:#f6f5f3;color:#815320;}
.count-wrap input{width:40px;border-width:1px;border-color:#c6b598;color:#815320;text-align:center;line-height:19px;padding:2px 0;height:19px;}

.page{height: 30px; text-align: right; padding-right: 100px;padding-top: 20px}